__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
.coverage
tmp_logs/
node_modules/
android/
data/
docs/
engine/
mock/
scripts/
llm/.github/
llm/tests/
llm/rag/tests/
llm/redis-win/
llm/test*.js
**/.gradle/
**/.pytest_cache/
**/venv/
**/__pycache__/
